.cor-titulo{
    color: rgba(51, 22, 213, 0.778);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.inf{
    text-align-last: center;
}
.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body{
    background-color: rgba(172, 172, 172, 0.678);
}

ul{
    list-style-position: inside;
    text-align: center;
}
p{ 
    white-space: nowrap;
}
ol{
    list-style-position: inside;
    text-align: center;
}
