.cor-titulo{
    color: rgba(51, 22, 213, 0.778);
    text-align: center;
}
.inf{
    text-align: center;
}
.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body{
    background-color: rgba(172, 172, 172, 0.678)
}